.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  font-size: 14px;
}
.App-container {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  background-color: whitesmoke;
  margin: 10px;
}
.App-content {
  display: flex;
  background-color: white;
  padding: 7px 20px;
  margin: auto;
}
@media screen and (max-width: 850px) {
  .App-header {
    flex-direction: column;
    align-items: center;
  }
  .App-container {
    width: 100vw;
    flex-direction: column;
  }
  .App-content {
    flex-direction: column;
    padding: 0px;
    justify-content: center;
  }
  .App-content > div {
    margin: 10px;
    width: 75vw;
    padding: 20px;
    justify-content: center;
  }
}
